@font-face {
    font-family: "Amiri-Regular";
    src: url(../../../assets/fonts/Amiri/Amiri-Regular.ttf);
}

@font-face {
    font-family: "Amiri-Italic";
    src: url(../../../assets/fonts/Amiri/Amiri-Italic.ttf);
}

@font-face {
    font-family: "Amiri-Bold";
    src: url(../../../assets/fonts/Amiri/Amiri-Bold.ttf);
}

@font-face {
    font-family: "Amiri-BoldItalic";
    src: url(../../../assets/fonts/Amiri/Amiri-BoldItalic.ttf);
}

@font-face {
    font-family: "PlanquinDark-Regular";
    src: url(../../../assets/fonts/PlanquinDark/PalanquinDark-Regular.ttf);
}

@font-face {
    font-family: "PlanquinDark-Medium";
    src: url(../../../assets/fonts/PlanquinDark/PalanquinDark-Medium.ttf);
}

@font-face {
    font-family: "PlanquinDark-SemiBold";
    src: url(../../../assets/fonts/PlanquinDark/PalanquinDark-SemiBold.ttf);
}

@font-face {
    font-family: "PlanquinDark-Bold";
    src: url(../../../assets/fonts/PlanquinDark/PalanquinDark-Bold.ttf);
}

.clear{
    clear: both;
}

.w33{
    width: 33.3%;
}

.w50{
    width: 49%;
}

.left{
    float: left;
}

.right{
    float: right;
}

:root{
    --main-color: #4e93ae;
    --text-color: #1f3a44;
    --text-color-desc: #716a74;
    --sec-text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
}

.center{
    max-width: 1500px;
    padding: 0 2%;
}

.content{
    margin-top: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}