*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.limiter{
    width: 100%;
    margin: 0 auto;
}

.container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #F6F6F9;
}

.wrap-login{
    width: 560px;
    background: white;
    border-radius: 30px;
    position: relative;
    padding: 85px;
}

.login-form{
    width: 100%;
}

.login-form-title{
    font-size: 30px;
    color: var(--text-color);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-bottom: 12px;
    font-family: "PlanquinDark-Bold";
}

.login-form-intro{
    font-size: 17px;
    color: var(--text-color-desc);
    line-height: 1.2;
    text-align: left;
    width: 100%;
    display: block;
    padding-bottom: 32px;
    font-family: "Amiri-Regular";
}

.wrap-text-form{
    display: flex;
    justify-content: space-between;
}

.txt1{
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "PlanquinDark-Bold";
}

.txt2{
    font-size: 17px;
    line-height: 1.4;
    font-weight: 600;
    color: rgb(218, 86, 86);
    font-family: "Amiri-Regular";
    text-align: center;
}

.wrap-input{
    position: relative;
    width: 100%;
    background-color: white;
    border: 1px solid var(--text-color-desc);
    border-radius: 10px;
    margin-top: 11px;
    margin-bottom: 36px;
}

.wrap-input-password{
    position: relative;
    width: 100%;
    background-color: white;
    border: 1px solid var(--text-color-desc);
    border-radius: 10px;
    margin-top: 11px;
    margin-bottom: 30px;
}

.input{
    outline: none;
    border: none;
    color: black;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 55px;
    padding: 0 25px;
    transition: 200ms;
    border-radius: 0.375rem;
    font-size: 17px;
}

.input:focus,
.input:hover{
    border: 1px solid var(--main-color);
}

.focus-input{
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1;
    left: -1;
    pointer-events: none;
    border: 1px solid #444294;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
    transform: scaleX(1.1) scaleY(1.3);
}

.btn-show-pass{
    font-size: 15px;
    color: var(--main-color);
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    transition: background .4s;
}

.btn-container-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn-login{
    font-size: 17px;
    color: white;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: var(--main-color);
    opacity: 1;
    border-radius: 27px;
    transition: all .4s;
    outline: none!important;
    border: none;
    cursor: pointer;
}

.btn-login:hover{
    opacity: 0.8;
}

.bottom-text {
    margin-top: 10px;
}
